body {
  position: relative;
    font-family: "roboto black", sans-serif;
    margin: 0px;
    font-size: 24px;
    color: #1C1C1C;
    background-color: #f8f8f8;
	height: 100%;
	width: 100%;
  }

header{
  
    padding: 0px 0 10px 0;/*lo pegado que esta la cabecera*/
    margin: 0px;
    width: 100%;
  }



h1{

    font-family: "Crimson Text", sans-serif;
    color: #8B0000;
    text-align: center;
    font-size: 67px;
   
 
}

h2 {
    font-family: "Crimson Text", sans-serif;
    color: #8B0000;
    text-align: center;
    padding: 5px;
    font-size: 67px;
    margin: 0px;
    padding-top: 50px;
    
}
h3 {
  font-family: "Roboto", sans-serif;
    color: #8B0000;
    text-align: center;
    padding: 5px;
    font-size: 24px;
    margin: 0px;
    padding-top: 50px;
}
p {
  font-family: "Roboto", sans-serif;
    text-decoration: none;
    text-align: center;
    color: #1C1C1C;
}

img {

    width: 100%;
}


#main-header {
  position: fixed; /* Fija el menú en la parte superior */
  top: 0; 
  left: 0;
  height: 100px; /* Establece la altura del menú */
  background-color: #1C1C1C;
  z-index: 1000; /* Asegúrate de que el menú esté sobre el contenido */
  display: flex;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Sombra suave */
}

main {
  margin-top: 100px; /* Ajusta este valor al tamaño del menú */
}

/* Lista del menú */
ul.menu {
  list-style: none; /* Elimina los puntos de la lista */
  margin: 0;
  padding: 0;
  display: flex; /* Hace que los elementos estén en línea */
  justify-content: space-between; /* Espacio entre los elementos */
}

/* Elementos del menú */
ul.menu li {
  margin: 0 15px; /* Espaciado entre los elementos */
}

ul.menu li a {
  text-decoration: none; /* Quita el subrayado */
  font-family: 'Crimson Text', serif; /* Aplica la fuente Crimson Text */
  font-size: 24px; /* Ajusta el tamaño */
  padding: 0px 15px; /* Espaciado interno */
  transition: color 0.3s ease, background-color 0.3s ease; /* Transiciones suaves */
}

/* Hover en los enlaces */
ul.menu li a:hover {

  border-radius: 5px;
  color: #FFD700;
  border-radius: 5px; /* Bordes redondeados */
}

/* Logo en el menú */
ul.menu .logo img {
  max-height: 100px; /* Ajusta la altura máxima del logo */
  margin: 5px 15px; /* Espaciado alrededor del logo */
}




  nav {
	text-align: center;
    padding: 5px; /*separado un poco de arriba*/
    width: 100%;
}

nav ul li {
    display: inline-block;

    
}
nav ul li b {
    display: block;
    padding: 0px 50px 0px 20px;
    text-decoration: none;
    
}
nav ul.menu li.logo img {
    padding-top: 0px;
    padding-left: 80px;
    width: 100px;
    height: 300px;
   
}

nav ul.menu li.carrito img {
    padding-top: 20px;
    padding-left: 40px;
    width: 60px;
    height: 60px;
}

nav ul.menu li.iniciosesion {
  
    background-color: #FF4500; 
    border-radius: 5px; /* Radio de las esquinas */
    
    color:#F5F5F5;
}
/*logo***********************************************************************/


/*banner*****************************************************************************/

.banner {
  position: relative;
  background: 
    url("../images/menu_image.jpg"); /* Imagen principal */
  background-size: cover; /* Ajusta ambos fondos para cubrir el contenedor */
  background-position: center;
  background-blend-mode: multiply; /* Mezcla ambas capas */
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.banner::before {
  content: ""; /* Crea la capa superpuesta */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9); /* Oscurece el fondo con negro semi-transparente */
  z-index: 1; /* Coloca el overlay detrás del texto */
}

.banner * {
  position: relative; /* Mantiene el texto y los elementos encima del overlay */
  z-index: 2;
}

.banner p {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
    color: #F5F5F5;
}

.boton_1{
  
    margin-left: 350px;
    margin-right: 1400px;
    text-align: center;
    background-color: #8B0000; 
    border-radius: 5px; /* Radio de las esquinas */
    
}
div.banner a:hover {
    
  text-decoration: none;
  color: #edeced ;
  background-color: #FF4500;
  display:block;

  
}

a:-webkit-any-link {
  
  color:#F5F5F5;
  text-decoration: none;
}

.boton_2{
  float: right;
  margin-left: 350px;
  margin-right: 1400px;
  text-align: center;
  background-color: #8B0000;  
  border-radius: 5px; 
  
}



/*Main content index**********************************************************************************/



div.grid-container {
      width: 80%;
      margin: 0 auto;
      padding-top: 40px;
      padding-bottom: 80px;
      
}



/* Carousel container */
.carousel {
  position: relative;
  width: 80%; /* Ajusta el ancho del carrusel */
  max-width: 600px; /* Máximo ancho */
  margin: auto;
  overflow: hidden; /* Oculta las imágenes fuera del contenedor */
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}


.carousel-track {
  display: flex; /* Coloca las imágenes una al lado de la otra */
  transition: transform 0.5s ease-in-out; /* Suaviza el deslizamiento */
  width: 400%; /* Ajusta para que entren todas las imágenes */
}


/* Buttons */
.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 24px;
  padding: 10px;
  cursor: pointer;
  z-index: 1000;
  border-radius: 50%;
}

.prev-btn {
  left: 10px;
}

.next-btn {
  right: 10px;
}

.carousel-btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
}



/*galeria programacion********************************/

#gallery{

  background-color: #1C1C1C ;
  padding-bottom: 50px;
}

.gallery {
  padding-top: 50px;
  display: flex;
  flex-wrap: wrap;
}

.item_1 {
  width: 200px;
  margin-left: 550px;
  border: 1px solid #ccc;
  padding: 10px;
}

.item_2 {
  width: 200px;
  margin-left: 50px;
  border: 1px solid #ccc;
  padding: 10px;
}

.item_3 {
  width: 200px;
  margin-left: 50px;
  border: 1px solid #ccc;
  padding: 10px;
}

.item img {
  width: 100%;
}

.item_1 p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #ffffff;
  line-height: 1.5;
  margin: 10px 0;
}

.item_2 p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #ffffff;
  line-height: 1.5;
  margin: 10px 0;
}

.item_3 p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #ffffff;
  line-height: 1.5;
  margin: 10px 0;
}

#gallery h3 {
  font-size: 20px; /* Ajusta el tamaño de la fuente */
  padding-top: 5px;
}

.info {
  text-align: center;
}

.btn-comprar {
  display: inline-block;
  background-color: #8B0000;
  padding: 5px 10px;
  margin-top: 10px;
  border-radius: 5px;
}

.btn-comprar:hover {
  background-color: #FF4500;
}

.boton_6{
  
  
  text-align: center;
  background-color: #da494c; 
  border-radius: 5px; /* Radio de las esquinas */
  
}
div.boton_6 a:hover {
    
  text-decoration: none;
  color: #edeced ;
  display:block;

  
}


/*SOBRE NOSOTROS PAGINA*********************************************************************/


#nuestra-historia, #quienes-somos, #nuestra-vision {
  max-width: 900px;   /* Limita el ancho máximo de la sección */
  margin: 0 auto;     /* Centra el contenido horizontalmente */
  padding: 20px;      /* Añade algo de espacio alrededor del texto */

  border-radius: 10px;
}


.map-container {
  max-width: 900px; /* Limita el ancho del mapa */
  margin: 20px auto; /* Centra el mapa horizontalmente */
  border: 5px solid #8B0000; /* Borde rojo oscuro */
  border-radius: 10px; /* Bordes redondeados */
  overflow: hidden; /* Asegura que el borde no corte contenido */
  margin-bottom: 90px;
}


/*PROGRAMACION PAGINA*********************************************************************/
#programacion {
 
  font-family: "Roboto", sans-serif;
  background-color: #f5f5f5;
}

#programacion h1 {
  padding-top: 100px;
 
  font-family: "Crimson Text", sans-serif;
    color: #8B0000;
    text-align: center;
    font-size: 67px;
}
.movie {
  display: flex;
  padding-bottom: 20px;
  justify-content: center; 
  align-items: center; 
  margin: 0 auto; 
  max-width: 1200px; 
  width: 100%; 
}

.movie-img {
  width: 300px; 
  height: 450px; 
  object-fit: cover; 
  margin-right: 50px;
}


.movie-details {
  flex: 1;
}

.movie-details h2 {
  margin: 0;
  font-size: 24px;
  color: #1C1C1C;
}

.movie-details p {
  font-family: "Roboto", sans-serif;
  font-size: 18px; 
  color: #1C1C1C; 
  line-height: 1.5; 
  margin: 10px 0; 
  text-align: left;
}

.btn-sessions_1 {
  font-family: "Crimson Text", sans-serif;
  background-color: #8B0000;
  color: whitesmoke ;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s;
  border-radius: 5px;
}

.btn-sessions_1:hover {
  background-color: #FF4500;
  color: yellow ;
}

.btn-sessions {
  font-family: "Crimson Text", sans-serif;
  background-color: #3D3D3D;
  color: whitesmoke ;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s;
  border-radius: 5px;
}
#sessions {
  margin-top: 30px;
  display: none;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

th {
  background-color: #f8f8f8;
}

.hidden {
  display: none;
}

.btn-siguiente {
  font-family: "Crimson Text", sans-serif;
  background-color: #3D3D3D;
  color: whitesmoke ;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom: 50px;
}



.button-container {
  display: flex;  
  justify-content: flex-end; 
  padding-right: 250px; 
}


/*PAGINA FICHA *********************************************************************/

.titulo-pelicula {
  /* Estilos que deseas aplicar */
  
  font-family: "Crimson Text", sans-serif;
  font-size: 67px;
  text-align: center;
}

.imagen-pelicula {
  width: 50px;  /* Ajusta el ancho de la imagen */
  border-radius: 10px;  /* Agrega bordes redondeados */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);  /* Agrega sombra a la imagen */
}

.btn-anterior {
  font-family: "Crimson Text", sans-serif;
  background-color: #8B0000;
  color: whitesmoke ;
  padding: 10px 20px;
  margin-top: 200px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-anterior:hover {
  background-color: #FF4500;
  color: yellow ;
}
.button-container_2 {
  
  display: flex;  
  justify-content: flex-start; 
  padding-left: 50px;  
  padding-right: 250px;  
}

/* Contenedor para la tabla */
.table-container {
  width: 80%;  
  margin: 0 auto;  
  padding: 20px;  
  box-sizing: border-box; 
}

/* Estilo de la tabla */
table {
  width: 100%; 
  margin-top: 20px;  
  border-collapse: collapse;  
  margin-bottom: 50px;
}

/* Estilo de las celdas de la tabla */
table th, table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
}

/* Estilo de las cabeceras */
table th {
  background-color: #f4f4f4;
}

.btn-comprar-entradas {
  font-family: "Crimson Text", sans-serif;
  background-color: #8B0000;
  color: whitesmoke ;
  padding: 10px 20px;

  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-comprar-entradas:hover {
  background-color: #FF4500;
  color: yellow ;
}


/*footer*********************************************************************/


footer {
  color: white;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #8B0000;
  padding: 20px;
  
}

#footer h3 {
  color: white;
}

footer div {
  width: 33%; /* Cada columna ocupará el 33% del ancho */
}

div.column_1 h3,
div.column_2 h3,
div.column_3 h3 {
  text-align: center; /* Centra los títulos de cada columna */
}

div.column_1 p,
div.column_2 p,
div.column_3 p {
  color: white;
  text-align: center; /* Centra el texto de los párrafos */
}







/* Responsividad para dispositivos pequeños (móviles y tablets) */
@media (max-width: 768px) {
  /* Ajusta el menú */
  .menu {
    flex-direction: column;
    align-items: center;
  }

  .menu li {
    margin-bottom: 10px;
  }

  /* Centra el banner */
  .banner {
    padding: 20px;
    text-align: center;
  }

  .banner img{
    background-color: rgba(0, 0, 0, 0.5);
    
  }
  .banner h1 {
    font-size: 24px; /* Reduce tamaño del título */
  }

  .banner p {
    font-size: 16px;
  }

  .boton_1, .boton_2 {
    display: block;
    width: 80%; /* Botones grandes en móvil */
    margin: 10px auto;
  }

  /* Galería en una columna */
  .gallery {
    grid-template-columns: 1fr;
  }

  .gallery .item {
    width: 100%;
  }

  /* Footer apilado */
  #footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  #footer .column_1, #footer .column_2, #footer .column_3 {
    margin-bottom: 20px;
  }
}
